body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 20px repeat(10, 40px);
    grid-template-rows: 20px repeat(10, 40px);
    grid-gap: 0px;
    margin: auto;
    margin-top: 20px;
    background-color: lightgrey;
    padding: 10px;
}

.grid-item {
    width: 40px;
    height: 40px;
    border: 2px solid transparent; /* Default border */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-color: white; /* Set default background color */
}

.grid-item.player-1 { border-color: blue; }
.grid-item.player-2 { border-color: red; }
.grid-item.player-3 { border-color: green; }
.grid-item.player-4 { border-color: yellow; }

.grid-item.vampire {
    background-image: url('/image/vampire.jpg');
}

.grid-item.ghost {
    background-image: url('/image/ghost.jpg');
}

.grid-item.werewolf {
    background-image: url('/image/werewolf.jpg');
}

.grid-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#monster-type {
    margin: 10px 0;
}

#end-turn {
    margin: 10px 0;
}
